@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
::-webkit-scrollbar{
  width: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.container {
  width: 100%;
  max-width: 1320px;
  padding: 0px 20px;
  margin-right: auto;
  margin-left: auto;
}
.sendButton{
  border-radius: 100px;
  background: var(--Main-colours-white, #FFF);
  box-shadow: 0px 14px 42px 0px rgba(3, 55, 167, 0.13);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 641px) {
  .container {
    padding: 0px 16px;
  }
}

.about-card:nth-child(1){
  background-color: #E1F5F4;
  border: none;
}
.about-card:nth-child(3){
  background-color: #E1F5F4;
  border: none;

}
.about-card:nth-child(5){
  background-color: #E1F5F4;
  border: none;

}